.one{background-color:yellow;
}



.nav{background-color:green;
list-style-type: none;
text-align:center;
margin:0;
padding:0;
}
.nav li {
  display: inline-block;
  font-size:28px;
  padding: 50px;
}
